@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Yuji+Syuku&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
    color: #3e1515;
    background-color: #eed7d1;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1, h2, h3 ul{
    font-family: 'Yuji Syuku', serif;
}

h3, p {
    margin-left: 10px;
}

#logo-maynooth{
    font-size: 125%;
    margin-left: 10px;
}

#logo-aikido{
    text-transform: uppercase;
    font-size: 200%;
    margin-left: 10px;
}

#hero-box{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image-26a.webp') no-repeat center center;
}

#logo-box{
    font-family: 'Yuji Syuku', serif;
    color: #3e1515;
    background-color: rgba(238, 215, 209, 0);
    font-size: 200%;
    line-height: 0.9;
    text-align: left;
    top: 10px;
    left: 10px;
    position: absolute;
}

#menu-box{
    font-family: 'Yuji Syuku', serif;
    color: #3e1515;
    background-color: rgba(238, 215, 209, 0);
    font-size: 200%;
    line-height: 0.9;
    text-align: right;
    top: 10px;
    right: 10px;
    position: absolute;
}

#kanji-vertical{
    font-family: 'Yuji Syuku', serif;
    color: #eed7d1;
    background-color: rgba(62, 21, 21, 0);
    font-size: 700%;
    line-height: 1.1;
    text-align: center;
}

#kanji-box-vertical{
    background-color: rgba(23, 9, 8, 0.6);
    width: 140px;
    height: 390px;
    bottom: 20px;
    left: 20px;
    position: absolute;
}
